html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: url('../assets/work-desk-schedule.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.event-headline {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 10px 10px rgba(155, 169, 166, 0.3);
}

.sidebar-left {
  width: 280px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 1;
  transition: 0.5s;
}

.sidebar-left.active {
  right: -1.5%;
}


.btn-2 {
  z-index: 1;
}

.btn-2:hover,
.btn-2:focus,
.btn-2:hover,
.btn-2:focus {
  transition: background-color 0.3s;
  background-color: #12a987 !important;

}

.logoImage-2 {
  position: absolute;
  top: 1.25%;
  left: 34%;
}

.sd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.sidebar-right {
  width: 280px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #212529;
  position: fixed;
  top: 0;
  right: -20%;
  z-index: 1;
  transition: 0.5s;
}

.sidebar-right.active {
  right: 0;
}

.sidebar-right-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-right-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sd-body {
  padding: 15px;
  max-height: calc(100vh - 67px);
  overflow-x: hidden;
  overflow-y: hidden;
}

.sd-body ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.sd-body ul li {
  list-style: none;
  margin-bottom: 8px;
}

.card-body-5 {
  width: 68%;
  border-radius: 2%;
  position: absolute;
  left: 21%;
  bottom: 18%;
  height: 75%;
}

.btn-filter-events {
  position: absolute;
  bottom: 5%;
  left: 36%;
}

.card-body-filter {
  width: 40%;
  border-radius: 5%;
  position: absolute;
  left: 33%;
  bottom: 14.5%;
  height: 80%;
}

.sd-body .sd-link {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  color: #475f7b;
  background-color: #e5e8ec;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

}

.btn-release {
  position: absolute;
  left: 25%;
  bottom: 2%;
  z-index: 1;
}

.btn-events-add {
  position: absolute;
  left: 13%;
  top: 17%;
  z-index: 1;
}

.btn-events-filter {
  position: absolute;
  left: 13%;
  top: 24.5%;
  z-index: 1;
}

.btn-custom-reserve-spot {
  right: 0;
  bottom: 0.5%;
  position: absolute;
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  color: #475f7b;
  background-color: #e5e8ec;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 8px;
}

.btn-user-settings-2 {
  position: absolute;
  left: 3%;
  bottom: 2%;
  width: 30vh;
  text-align: start;
  z-index: 1;
}

.header-user-icon {
  position: absolute;
  left: 40%;
  bottom: 20%;
}

.img-fluid-user-icon {
  position: absolute;
  left: 0;
}

.events {
  position: absolute;
  left: 0;
  bottom: 0;
}

.submitButton-left {
  margin-top: 190%;
}

.event-header {
  position: absolute;
  left: 20%;
  top: 15%;
}

.custom-event-button-2 {
  border-radius: 20px;
  width: 230px !important;
  height: 250px !important;
  background-color: blue !important;
  overflow-y: auto;
  z-index: 1;
}

.disable-event-alert-events {
  position: absolute;
  width: 15%;
  overflow-y: auto;
  height: 15vh;
  left: 20%;
  top: 60vh !important;
}

.resource-link-alert-events {
  position: absolute;
  overflow-y: auto;
  height: 15vh;
  width: 15%;
  left: 20%;
  top: 65vh !important;
}

.carousel {
  width: 330px;
  height: 405px;
  position: absolute !important;
  left: -5%;
  top: 22%;
  margin: auto;
}

.button-events-event-name {
  overflow-y: auto;
}

.carousel-item {
  margin-top: 13%;
}

.btn-chosen-event-seat {
  width: 15vh !important;
  height: 12vh !important;
}

.btn-chosen-event-room {
  width: 15vh !important;
  height: 12vh !important;
}

.btn-close-disable-event-alert-rooms {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 15%;
  height: 33%;
}

.custom-navbar {
  position: absolute !important;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: #212529;
}

.custom-form-search-bar {
  position: absolute !important;
  left: 45%;
}

.custom-form-search-bar-organizer {
  position: absolute !important;
  top: 32%;
  left: 2.25%;
  width: 15%;
  height: 10%;
  z-index: 1;
}

.search-bar-icon {
  position: absolute;
  left: 1%;
}

.qr-code-questions-img {
  position: absolute;
  top: 40%;
  right: 7%;
}

.qr-code-client-image {
  position: absolute;
  width: 60% !important;
  height: 22%;
  bottom: 10%;
  right: 18%;
}

.charger-link-item {
  position: absolute;
  width: 50% !important;
  top: 35%;
  height: 10%;
  right: 2%;
}

.computer-link-item {
  position: absolute;
  width: 50% !important;
  height: 10%;
  top: 35%;
  right: 55%;
}

.header-qr-code-client-image {
  position: absolute;
  bottom: 32%;
}

.chosen-seat-taken-for-user-div {
  position: absolute;
  bottom: 1%;
  left: 19%;
  border-radius: 10px;
  z-index: 1;
}

.add-event-form {
  position: absolute;
  width: 90%;
}

.btn-close-add-event-form {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 7%;
  height: 9%;
}

.btn-close-filter-event-form {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 7%;
  height: 9%;
}

.seats-div-custom {
  position: absolute;
  bottom: 12%;
  left: 25%;
  width: 55%;
  height: 80%;
}

.seats-div-custom-lower-seats-count {
  position: absolute;
  bottom: 40%;
  left: 22%;
  width: 60%;
  height: 20%;
}

.lectors-div-guests {
  z-index: 1;
  position: absolute;
  top: 5%;
  right: 30%;
  height: 18%;
  width: 30%;
}

.guests-list {
  position: absolute;
  right: 4%;
  top: 26%;
  width: 100%;
}

.custom-form-search-bar-guests {
  margin-top: 11%;
}

.btn-organizer-events {
  position: absolute;
  width: 101%;
  height: 62%;
  margin-left: 1.5%;
  z-index: 1;
  top: 92%;
}

.input-organizer-events {
  position: absolute !important;
  width: 101% !important;
  height: 62% !important;
  margin-left: 1.5%;
  margin-bottom: 1%;
}

.search-icon-organizer {
  position: absolute;
  left: 2%;
  bottom: 24%;
  z-index: 1;
}

.btn-user-logout-setting-rooms {
  position: absolute;
  left: 20%;
  bottom: 1%;
  width: 11%;
  height: 6%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-user-logout-setting-rooms:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-user-home-setting-rooms {
  position: absolute;
  left: 20%;
  bottom: 15%;
  width: 11%;
  height: 6%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-user-home-setting-rooms:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-navigate-user-settings-rooms {
  position: absolute;
  left: 20%;
  bottom: 8%;
  width: 11%;
  height: 6%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-navigate-user-settings-rooms:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.reserve-spot-event-sidebar-logo {
  position: absolute;
  width: 15% !important;
  left: 85%;
  top: 1%;
}

.btn-close-resources-link-alert-room {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 15%;
  height: 33%;
}

.seats-div-custom {
  position: absolute;
  overflow-y: auto;
  width: 55%;
  top: 25%;
  height: 60%;
}