html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: url('../assets/work-desk-schedule.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.custom-img-successful-registration {
  right: 80%;
}

.modal-content-test {
  width: 50%;
  position: absolute;
  left: 25%;
  border-radius: 15px;
  bottom: 8%;
}

.btn-return-to-login-page {
  width: 70%;
}