html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: url('../assets/work-desk-schedule.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.sidebar-left {
  width: 280px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 1;
  transition: 0.5s;
}

.sidebar-left.active {
  right: -1.5%;
}

.custom-img {
  right: 80%;
}

.mx-6 {
  margin-left: 3rem;
}

.btn-user-settings {

  position: absolute;
  text-align: center;
  left: 32%;
  bottom: 0%;
  width: 15vh;
  z-index: 1;
}

.btn-user-settings-3 {
  position: absolute;
  left: 3%;
  bottom: 2%;
  width: 30vh;
  text-align: start;
  z-index: 1;
}

.logoImage-3 {
  margin-left: 23%;
}

.qrImage {
  position: absolute;
  bottom: 4%;
  left: 5%;
}

.list-group-item-2 {
  position: absolute;
  top: 50%;
  width: 30%;
  left: 35%;
  z-index: 1;
  margin-bottom: 50px;
  border-radius: 20%;
}

.new-custom-form-2 {
  max-height: 700px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 50%;
  height: 100%;
  left: 30%;
  position: absolute;
  border-style: solid;
}

.custom-card-body {
  position: absolute;
  top: -5%;
  left: 27%;
  height: 95%;
  width: 60%;
}

.sd-body ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.sd-body ul li {
  list-style: none;
  margin-bottom: 8px;
}

.sd-body .sd-link {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  color: #475f7b;
  background-color: #e5e8ec;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-authentication-types {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 90%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-authentication-types:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-dashboard {
  position: absolute;
  left: 5%;
  width: 90%;
  top: 34%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-dashboard:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-your-created-events {
  position: absolute;
  left: 5%;
  top: 43%;
  width: 90%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-your-created-events:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-navigate-user-settings {
  position: absolute;
  left: 18%;
  bottom: 8%;
  width: 11%;
  height: 6%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-navigate-user-settings:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-user-logout-setting-2 {
  position: absolute;
  left: 18%;
  bottom: 2%;
  width: 11%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-user-language-bulgarian:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-user-language-bulgarian {
  position: absolute;
  left: 21%;
  bottom: 14%;
  width: 11%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-user-language-english:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-user-language-english {
  position: absolute;
  left: 21%;
  bottom: 22%;
  width: 11%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}


.btn-user-logout-setting-2:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-user-home-setting-2 {
  position: absolute;
  left: 18%;
  bottom: 9.5%;
  width: 11%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.btn-user-home-setting-2:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-rewards {
  position: absolute;
  left: 435%;
  bottom: 1%;
  width: 50%;
  height: 8%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-rewards:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-add-link {
  position: absolute;
  left: 5%;
  top: 52%;
  width: 90%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-add-link:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-feedback-form {
  position: absolute;
  left: 5%;
  width: 90%;
  top: 66%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-feedback-form:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-language-settings {
  position: absolute;
  left: 5%;
  width: 90%;
  top: 75%;
  height: 7%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-language-settings:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-enable-two-factor {
  position: absolute;
  left: 25%;
  width: 50%;
  top: 32%;
  height: 15%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-enable-two-factor:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-disable-two-factor {
  position: absolute;
  left: 25%;
  width: 50%;
  top: 55%;
  height: 15%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-disable-two-factor:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-item-one-time-pass-auth {
  position: absolute;
  left: 25%;
  width: 50%;
  top: 78%;
  height: 15%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-one-time-pass-auth:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.custom-form {
  position: absolute;
  bottom: 5%;
  right: 18%;
}

input {
  text-align: center;
  font-size: 50px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 7vh;
  height: 10vh;
  transition: all .2s ease-in-out;
  border-radius: 5px;

  &:focus {
    border-color: purple;
    box-shadow: 0 0 5px purple inset;
  }

  &::selection {
    background: transparent;
  }
}

.btn-embossed {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 100%;
  padding: 6px;
  background-color: #B85FC6;
  border: none;
  text-transform: uppercase;
}

.carousel-2 {
  width: 330px;
  height: 455px;
  position: absolute !important;
  left: 44%;
  top: 9%;
  margin: auto;
}

.btn-disable {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 1;
}

.btn-delete-event {
  position: absolute;
  bottom: 9%;
  left: 49%;
}

.btn-disable-events {
  position: absolute;
  bottom: 2%;
  right: 0;
}

.card-body-disable {
  width: 35%;
  border-radius: 10%;
  position: absolute;
  right: 3%;
  bottom: 8%;
  height: 70%;
  z-index: 1;
}

.btn-close-disable-event-form {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 8%;
  height: 11%;
}

.btn-close-disable-event-alert {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 16%;
  height: 30%;
}

.btn-close-resources-link-alert {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 15%;
  height: 33%;
}

.btn-close-fa-event-form {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 6%;
  height: 7%;
}

.btn-close-authentication-types-event-form {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 6%;
  height: 7%;
}

.sidebar-settings-right {
  width: 280px;
  min-height: 100vh;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: #212529;
  position: fixed;
  top: 0;
  right: -20%;
  z-index: 1;
  transition: 0.5s;
}

.sidebar-settings-right.active {
  right: 0;
}

.sidebar-settings-right-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-settings-right-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sd-link-settings-button {
  display: inline-block;
  width: 100%;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.authentication-types-form {
  position: absolute;
  top: 20%;
  right: 30%;
}

.header-user-icon {
  overflow-y: auto;
}

.authentication-types-header {
  position: absolute;
  top: 8%;
  left: 10%;
}

.add-resources-link-div {
  position: absolute;
  width: 45%;
  height: 70%;
  top: 16%;
  left: 32%;
  border-radius: 20px;
  z-index: 1;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.carousel-user-settings {
  width: 330px;
  height: 400px;
  position: absolute !important;
  left: -5%;
  top: 22%;
  margin: auto;
}

.add-resources-link-form {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 20%;
  top: 50%;
}

.btn-item-add-resource-in-form {
  position: absolute;
  left: 33%;
  width: 35%;
  bottom: 10%;
  height: 12%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-item-add-resource-in-form:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.input-resource-link-icon {
  margin-left: 48%;
  margin-bottom: 2%;
}

.btn-close-add-resources-link-form {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 7%;
  height: 8%;
}

.button-link-organizer {
  z-index: 1;
}

.card-body-feedback {
  position: absolute;
  border-radius: 12px;
  left: 30%;
  top: 2%;
  width: 55%;
  height: 95%;
}

.btn-close-feedback-form {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 7%;
  height: 7%;
}

.btn-close-generate-image {
  position: absolute;
  right: 1%;
  top: 4%;
  width: 7%;
  z-index: 1;
  height: 20%;
}

.btn-close-rewards-menu {
  position: absolute;
  right: 2%;
  top: 3%;
  width: 7%;
  height: 7%;
}

.btn-add-feedback {
  position: absolute;
  bottom: 2%;
  right: 25%;
}

.finished-events-div {
  position: absolute;
  border-radius: 12px;
  left: 28%;
  top: 14%;
  width: 55%;
  height: 70%;
}

.finished-events-list {
  position: absolute;
  top: 20%;
  left: 40%;
}

.btn-finished-event {
  margin-left: 23%;
  width: 50%;
  height: 10%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-finished-event:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

li {
  list-style-type: none;
}


.card-body-div-authentication-types {
  position: absolute;
  border-radius: 20px;
  left: 29%;
  top: 10%;
  width: 50%;
  height: 80%;
}

.reward-menu-div {
  position: absolute;
  border-radius: 12px;
  left: 25%;
  top: 6%;
  width: 65%;
  height: 85%;
}

.btn-reward-item-1 {
  position: absolute;
  height: 41%;
  width: 30%;
  left: 5%;
}

.btn-reward-item-2 {
  position: absolute;
  height: 41%;
  left: 35%;
  width: 30%;
}

.btn-reward-item-3 {
  position: absolute;
  height: 41%;
  left: 65%;
  width: 30%;
}

.bigger-image-div {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 35%;
  top: 8%;
  z-index: 1;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: rgba(0, 0, 0, 0.4);
}

.generate-image-container {
  position: absolute;
  left: 35%;
  width: 40%;
  height: 30%;
  top: 5%;
  z-index: 1;
}

.btn-get-item {
  position: absolute;
  right: 10%;
  bottom: 3%;
  width: 20%;
}

.btn-get-item-2 {
  position: absolute;
  right: 40%;
  bottom: 3%;
  width: 20%;
}

.btn-get-item-3 {
  position: absolute;
  right: 70%;
  bottom: 3%;
  width: 20%;
}

.carousel-buttons {
  position: absolute;
  top: 10%;
  width: 40%;
  height: 30%;
  left: 35%;
  z-index: 1;
}


.btn-all-events {
  width: 150%;
}

.btn-this-week-events {
  width: 100%;
}

.btn-this-month-events {
  width: 120%;
}

.btn-today-events {
  width: 100%;
}

.qr-code-client-feedback-questions {
  position: absolute;
  top: 37%;
  left: 7%;
}

.btn-close-finished-events-form {
  position: absolute;
  right: 2%;
  top: 3%;
  width: 7%;
  height: 8%;
}

.disable-event-alert {
  position: absolute;
  width: 15%;
  height: 17vh;
  left: 64%;
  top: 50vh !important;
}

.resource-link-alert {
  position: absolute;
  overflow-y: auto;
  height: 15vh;
  width: 15%;
  left: 65%;
  top: 50vh !important;
}

.button-event-name-disable-event {
  overflow-y: auto;
  width: 60%;
  height: 20vh !important;
  margin-left: 5%;
}

.disable-event-sidebar-logo {
  position: absolute;
  left: 81%;
  top: 1%;
}