html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: url('../assets/work-desk-schedule.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

.card-body-login {
  border-radius: 8px;
  width: 80%;
  position: absolute;
  background-color: #f6f6f6;
  left: 10%;
  bottom: 8%;
  height: 85%;
}

.custom-img-login-page {
  right: 80%;
}

.login-custom-form {
  position: absolute;
  left: 17%;
  height: 80%;
  top: 12%;
  width: 40%;
}

.btn-return-to-sign-up{
  width: 30%;
}

.btn-return-to-sign-up:hover{
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.custom-img-login-page {
  z-index: 1;
  position: absolute;
  top: 9%;
  left: 11.5%;
}

.btn-submit-login {
  left: 22%;
  bottom: -2%;
  width: 50%;
  position: absolute;
}

.btn-submit-login:hover{
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.coding-image-div-login {
  position: absolute;
  bottom: 10%;
  left: 58%;
}

.btn-forgotten-password-login{
  position: absolute;
  left: 58%;
  top: 80%;
}

.btn-forgotten-password-login:hover{
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px grey inset;
}


.custom-form-2 {
  position: absolute;
  bottom: 15%;
  right: 20%;
}

.btn-embossed-2 {
  position: absolute;
  bottom: 15%;
  width: 70%;
  padding: 6px;
  right: 15%;
  background-color: #B85FC6;
  border: none;
  text-transform: uppercase;
}

.custom-card-body-2 {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 60%;
  border-radius: 10%;
  width: 40%;
}

.par-navigator {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.header-sign-in {
  position: absolute;
  top: 25%;
  left: 44%;
}

.card-body-forgot-pass {
  position: absolute;
  border-radius: 12px;
  left: 30%;
  top: 23%;
  width: 40%;
}

.btn-close-forgotten-pass-form {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 7%;
  height: 10%;
}

.card-body-mfa {
  position: absolute;
  border-radius: 12px;
  left: 30%;
  top: 23%;
  width: 40%;
  height: 60%;
}

.btn-close-mfa-form {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 7%;
  height: 10%;
}

.btn-close-one-time-pass-form {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 6%;
  height: 8%;
}

.btn-mfa-1 {
  position: absolute;
  left: 25%;
  top: 60%;
  width: 50%;
  height: 10%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-mfa-1:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}

.btn-mfa-2 {
  position: absolute;
  left: 25%;
  top: 73%;
  width: 50%;
  height: 10%;
  color: #475f7b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.btn-mfa-2:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 5px white inset;
}


.mail-image {
  position: absolute;
  left: 10%;
  bottom: 32%;
}


.custom-card-body-one-pass-form {
  position: absolute;
  top: 13%;
  left: 28%;
  height: 70%;
  border-radius: 10%;
  width: 45%;
}

.custom-form-one-pass {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.btn-embossed-one-pass {
  position: absolute;
  bottom: 8%;
  width: 45%;
  padding: 6px;
  right: 27%;
  background-color: #B85FC6;
  border: none;
  text-transform: uppercase;
}

.mail-image-one-time {
  position: absolute;
  left: 10%;
  bottom: 34%;
}

.login-alert{
  width: 25%;
  left: 27%;
  margin-top: 18.5%;
  z-index: 1;
}